html{
    font-family: 'Roboto', sans-serif !important;
}

body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto 60px;
    padding: 0 0 60px;
}

.wrap .navbar {
    background-color: #447EDC;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: #244986;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #244986;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.cat-header, .mat-header{
    width: 100%;
    height: auto;
    overflow: hidden;
}


.wrap > .container {
    padding: 70px 15px 20px;
}

.botonesadd {
    float: right;
    font-weight: bold;
}

.urlindex {
    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
}

.urlindex:hover {
    text-decoration: none !important;
    color: white;
}

.urlindex > .datoremo {
    font-size: 300%;
    color: white;
}

.remeros, .entrenadores, .patrocinadores, .barcos, .remos {
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
}

.inicio{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0;
}

.remeros {
     background: url('../images/bg-remeros.jpg') no-repeat top;
     background-size: 100%;
}

.entrenadores{
    background: url('../images/bg-entrenadores.jpg') no-repeat top;
    background-size: 100%;
}

.patrocinadores{
    background: url('../images/bg-patrocinadores.jpg') no-repeat top;
    background-size: 100%;
}

.indexmodel {
    margin-top: 15px;
    color: black;
}

.indexmodel h1 {
    text-transform: uppercase;
}

.indexmodel a {
    text-decoration: none !important;
    color: black;
}


.indexmodel a.btn.btn-primary {
    text-decoration: none !important;
    color: white;
}

.row1{
    height: auto;
    overflow: hidden;
}

.row2 {
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.barcos{
    background: url('../images/bg-barcos.jpg') no-repeat center;
    background-size: 100%;
}

.remos{
    background: url('../images/bg-remos.jpg') no-repeat center;
    background-size: 100%;
}


.row-tes {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 15px;
}

.indexmodel .tes-texto {
    text-transform: uppercase;
}

.masinfo{
    color: white;
    font-weight: bold;
    text-align: right;
    text-transform: lowercase;
}

.datotes{
    font-size: 450%;
    color: green;
}

.datogasto{
    font-size: 450%;
    color: red;
}


.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    left: 0;
    bottom: 0;
}

.jumbotron {
    /* text-align: center;*/
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

